@model CustomerOrderWeb.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Reset Password</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form asp-action="ChangePassword" method="post">
    
    <div>
        <label asp-for="CurrentPassword"> Current Password</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" required />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" required />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Change Password</button>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")